<body class="d-flex">


  <!--Menu-->
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home"></use>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table"></use>
          </svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid"></use>
          </svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle"></use>
          </svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div><!--End Menu-->

  <div class="w-100 d-flex flex-column">
    <div class="content container p-5">

      <div class="title">
        <h1>Catálogo Universal</h1>
      </div>

      <div class="p-2 d-flex w-100 justify-content-center gap-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasCreate"
          aria-controls="offCanvasCreate">
          <i class="bi bi-plus-square-fill me-2"></i>
          Crear un catálogo
        </button>

        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasUpdate"
          aria-controls="offCanvasUpdate">
          <i class="bi bi-pencil-fill"></i>
          Editar un catálogo
        </button>

        <button class="btn btn-secondary" type="button" (click)="loadData()">
          <i class="bi bi-arrow-clockwise"></i>
          Recargar lista
        </button>


      </div>

      <!--Offcanvas para crear catálogo-->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvasCreate" aria-labelledby="offCanvasCreateLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offCanvasCreateLabel">Crear un catálogo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100">
          <form (ngSubmit)="insertUniversal()" [formGroup]="insertUniversalGroup" class="h-100">
            <div class="d-flex flex-align-start flex-column h-100 w-100 ">
              <div class="w-100 h-100 mb-auto overflow-y-auto">
                <div class="mb-3">
                  <label for="createUniversalText" class="form-label">Denominación</label>
                  <input type="text" class="form-control" name="createUniversalText" id="createUniversalText"
                    formControlName="createUniversalText" placeholder="Ingresa un valor">
                </div>
                <div class="mb-3">
                  <label for="createUniversalTipo" class="form-label">Tipo de catálogo</label>
                  <select class="form-select" formControlName="createUniversalTipo" (click)="ListarCatalogoE(1)">
                    <option *ngFor="let catalogo of universalTipos" [value]="catalogo.id_catalogo">
                      {{catalogo.denominacion_catalogo}}
                    </option>
                  </select>
                </div>
              </div>

              <div style="max-height: 60px; min-height: 60px" class="d-flex justify-content-center order-2 w-100">
                <div class="align-self-center w-100">
                  <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="offcanvas"
                    aria-label="Close">Crear</button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>

      <!--offcanvas para editar catálogo-->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvasUpdate" aria-labelledby="offCanvasUpdateLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offCanvasUpdateLabel">Editar un catálogo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100">
          <form (ngSubmit)="updateUniversal()" [formGroup]="updateUniversalGroup" class="h-100">
            <div class="d-flex flex-align-start flex-column h-100 w-100 ">
              <div class="w-100 h-100 mb-auto overflow-y-auto">
                <div class="mb-3">
                  <label for="updateUniversalId" class="form-label">Catálogo a editar</label>
                  <select class="form-select" id="updateUniversalId" formControlName="updateUniversalId"
                    (change)="getById()">
                    <option *ngFor="let caese of Universal" [value]="caese.id_catalogo">
                      {{caese.denominacion_catalogo}} - {{caese.llave_foranea_catalogo}}
                    </option>
                  </select>
                </div>
                <div *ngFor="let found of universalFound">
                  <div class="mb-3">
                    <label for="createUniversalText" class="form-label">Denominación</label>
                    <input type="text" class="form-control" name="updateUniversalText" id="updateUniversalText"
                      value={{found.denominacion_catalogo}} [value]="found.denominacion_catalogo"
                      formControlName="updateUniversalText" placeholder="Ingresa un valor">
                  </div>
                  <div class="mb-3">
                    <label for="updateUniversalTipo" class="form-label">Tipo de catálogo</label>
                    <select class="form-select" id="updateUniversalTipo" formControlName="updateUniversalTipo">
                      <option *ngFor="let catalogo of universalTipos" [value]="catalogo.id_catalogo">
                        {{catalogo.denominacion_catalogo}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div style="max-height: 60px; min-height: 60px" class="d-flex justify-content-center order-2 w-100">
                <div class="align-self-center w-100">
                  <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="offcanvas"
                    aria-label="Close">Actualizar</button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>

      <!--Gemerar tarjetas por cada FormGroup de universalTipos -->
      <ng-container *ngIf="asyncReady else loading">

        <!--Contenedor de la tabla-->
        <div class="table-container py-5">

          <h2>{{tituloCataUniLista}}</h2>
          <table class="table table-dark table-striped">
            <!--Cabecera-->
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Deno</th>
                <th scope="col">Llave</th>
              </tr>
            </thead>

            <!--Listar todos los catálogos-->
            <tbody>
              <tr *ngFor="let catu of Universal">
                <th scope="row"> {{ catu.id_catalogo }} </th>
                <td>{{ catu.denominacion_catalogo }} </td>
                <td>{{ catu.llave_foranea_catalogo}} </td>
              </tr>
            </tbody>
          </table>

        </div><!--End Contenedor de la tabla-->

        <!--Contenedor del acordeón-->
        <h2>Buscar ID por tipo de catálogo</h2>
        <div class="accordion accordion-flush my-5" id="accordionFlushExample">
          <!--Generar todos los items del acordeón-->
          <div class="accordion-item" *ngFor="let catalogo of universalTipos">
            <form [formGroup]="formGroups[catalogo.id_catalogo]">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#modal'+catalogo.id_catalogo" aria-expanded="false"
                  [attr.aria-controls]="'#modal'+catalogo.id_catalogo">
                  {{ catalogo.denominacion_catalogo }}
                </button>
              </h2>
              <div [attr.id]="'modal'+catalogo.id_catalogo" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">

                <!--Contenido del acordeón-->
                <div class="accordion-body row">
                  <div class="col-8">
                    <select class="form-select" formControlName="denominacion_catalogo"
                      aria-label="Default select example">
                      <option *ngFor="let item of formGroups[catalogo?.id_catalogo]?.get('lista')?.value"
                        [value]="item.id_catalogo">
                        {{item.denominacion_catalogo}}
                      </option>
                    </select>
                  </div>
                  <div class="col-2">
                    <button (click)="printId(catalogo.id_catalogo)" class="btn btn-primary">Buscar</button>
                  </div>
                  <div class="col-2" *ngIf="selected[catalogo.id_catalogo]">
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon3">ID:</span>
                      <input type="text" class="form-control" id="basic-url"
                        aria-describedby="basic-addon3 basic-addon4" [attr.value]="selected[catalogo.id_catalogo]"
                        disabled readonly>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>

        </div><!--End Contenedor del acordeón-->

      </ng-container>

      <ng-template #loading>
        <div class="p-5 d-flex justify-content-center">
          <div class="spinner-border me-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span>Cargando...</span>
        </div>
      </ng-template>
    </div>

  </div>
</body>