.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    overflow-y: auto;
    height: fit-content;
}

.mainc {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}